
.jqtree-tree{
    width: 100%;
    margin-top: 0px;
    color: #585858;
}

.menutree ul.jqtree-tree li.jqtree-selected:after{
  display: block;
  content: "";
  position: absolute!important;
  right: 0;
  top: 4px;
  border: 8px solid transparent;
  border-width: 14px 10px;
  border-right-color: #2b7dbc;
}
.menutree ul.jqtree-tree li.jqtree-selected > .jqtree-element,
.menutree ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background-color: #FFF;
    background-image: none;
}
.menutree ul.jqtree-tree li.jqtree-selected > .jqtree-element > .jqtree-title{
    color: #2b7dbc;
    font-weight: bold;
}



.menutree ul.jqtree-tree li.jqtree-selected > .jqtree-element > .jqtree-title a:visited,
.menutree ul.jqtree-tree li.jqtree-selected > .jqtree-element > .jqtree-title a:link,
.menutree ul.jqtree-tree li.jqtree-selected > .jqtree-element > .jqtree-title a:hover,
.menutree ul.jqtree-tree li.jqtree-selected > .jqtree-element > .jqtree-title a {
   color: #2b7dbc;
}
.jqtree-tree a:visited,
.jqtree-tree a:link,
.jqtree-tree a:hover,
.jqtree-tree a{
  color: #585858;
  text-decoration:none;
}

.jqtree-tree li.jqtree_common .jqtree-element{
    background:transparent;
    color: #585858;
}

.jqtree-tree .jqtree_common{
  position: relative;
}

.jqtree-tree .jqtree-folder{
  border-bottom: 1px solid #e5e5e5;
}

.jqtree-tree .jqtree-folder.jqtree-closed{
  border-bottom:0px;
}

.jqtree-tree .jqtree-folder ul .jqtree-element{
  border-left:1px dotted #9dbdd6;
}

.jqtree-tree .jqtree-folder ul li:last-child > .jqtree-element{
    border-bottom:0px;
}
.jqtree-tree .jqtree-folder ul li.jqtree-folder:last-child > .jqtree-element{
    border-bottom:1px solid #e5e5e5;
}

.jqtree-tree .jqtree-folder ul li.jqtree-folder.jqtree-closed:last-child > .jqtree-element{
  border-bottom: 0px;
}


ul.jqtree-tree li.jqtree-folder.jqtree-closed{
  margin-bottom:0px;
}


.jqtree-tree .jqtree-element{
  display: block;
  height: 38px;
  line-height: 36px;
  color: #585858;
  text-shadow: none!important;
  font-size: 13px;
  text-decoration: none;
  border-bottom:1px dotted #9dbdd6;

}
.jqtree-tree li.jqtree-folder > .jqtree-element{
  background-color: #f9f9f9;
  border-bottom: 1px solid #e5e5e5;
}
ul.jqtree-tree li.jqtree-folder{
  margin-bottom:0px;
  background-color:#FFF;
}

.jqtree-tree > li.jqtree_common{
  background-color:#f9f9f9;
}

.jqtree-tree li.jqtree-folder{
  -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.13);
  -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.13);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.13);
}

ul.jqtree-tree li.jqtree-folder:last-child{
  border-bottom:0px;
}

.jqtree-tree .jqtree-toggler{
    position:absolute;
    right:5px;
    top:2px;
    z-index: 6;
}

.jqtree-tree .menu-icon{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-right: 8px;
}

.jqtree-tree .jqtree-title,
.jqtree-tree .jqtree-title.jqtree-title-folder{
  display:block;
  margin: 0px;
}

.jqtree-tree .jqtree-title{
 padding-left:20px; 
}

.jqtree-tree > li.jqtree_common > .jqtree-element .jqtree-title{
  padding-left:10px;
}

.jqtree-tree .jqtree-title.jqtree-title-folder{
  padding-left: 20px;
}

.jqtree-tree .jqtree-folder ul .jqtree-element:before{
  content: "";
  display: inline-block;
  position: absolute;
  width: 12px;
  left: 0px;
  top: 19px;
  z-index: 1;
  border-top: 1px dotted #9dbdd6;
}




/*.menuTree{
    width: 198px;
    height: 600px;
    position: relative;
    border: 1px solid #ccc;
}
.menuTree ul{}

.menuTree ul.jqtree-tree li.jqtree-folder{
  margin:0px;
}

.menuTree .jqtree-tree .jqtree-title{
  display:block;
  margin-right: 25px;
}

.menuTree .jqtree-tree .jqtree-title.jqtree-title-folder{
  margin-left: 1.2rem
}
.menuTree .jqtree_common{
  position: relative;
}

.menuTree ul .jqtree-element {
  border-left:1px dotted #9dbdd6;
  border-bottom:1px dotted #9dbdd6;
}
.menuTree .jqtree-folder li.jqtree_common:last-child .jqtree-element {
    border-bottom: 0px;
}

.menuTree .jqtree-folder:last-child li.jqtree_common:last-child .jqtree-element{
    border-bottom:1px dotted #9dbdd6;
}

.menuTree .jqtree-folder:last-child li.jqtree_common:last-child .jqtree-folder .jqtree-element{
  border-bottom:1px solid #9dbdd6;
}



.menuTree .jqtree-folder.jqtree-closed .jqtree-element{
  border-bottom: 0px solid #ccc;
}

.menuTree > .jqtree-tree > .jqtree-folder.jqtree-closed:last-child .jqtree-element{
  border-bottom: 1px solid #ccc;
}

.menuTree  ul .jqtree-folder > .jqtree-element{
  border-top: 1px solid #ccc;
}

.menuTree .jqtree-toggler{
    position:absolute;
    right:5px;
    top:2px;
}

.menuTree .jqtree-element{
  display: block;
  height: 38px;
  line-height: 36px;
  color: #585858;
  text-shadow: none!important;
  font-size: 13px;
  text-decoration: none;
  border-bottom:1px dotted #9dbdd6;
}

.menuTree .jqtree-folder > .jqtree-element{
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

.menuTree > ul > li ul li:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 12px;
  left: 0px;
  top: 19px;
  z-index: 1;
  border-top: 1px dotted #9dbdd6;
}

.menuTree > ul { margin-top: 0px;}

*/

/*.menuTree .jqtree-folder  .jqtree-folder .jqtree-element:first-child{
  border-top: 0px solid #ccc;
}*/

/*
.menuTree ul > li:last-child .jqtree-element{
  border-bottom: 0px;
}*/
